XsdTransformer.Web.Site/App_Data/99f887a5b1884492bc68d831d8b988df/Appointment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://cdm.stedinmeetbedrijf.nl/attributen/appointment/1.0" 
			xmlns:tns="http://cdm.stedinmeetbedrijf.nl/attributen/appointment/1.0"
			elementFormDefault="qualified">

	<xs:complexType name="TijdslotBeschikbaarheid">
		<xs:sequence>
			<xs:element name="startDatumTijd" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>	
			<xs:element name="eindDatumTijd" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="beschikbaarheid" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>